<!DOCTYPE html>
<html>
	<head>
		<title>Morse Code!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel = "stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/tone"></script>
		<script src="../../socket.io/socket.io.js"></script>
		<script src = "morse.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>


	<body>
		<div class = "container">
			<p id="userDecodedText"></p>
			<p id="connectionDecodedText"></p>
		</div>
		<div class = "centered">
			<button class = "morse-box" id="morse">
			</button>
		</div>

		<script src = "main.js"></script>

	</body>
	<footer>
		<div class = "container">
			<p onclick="clear()">Settings</p>
			
		</div>
	</footer>
</html>
